body {
  font-family: var(--font-poppins), sans-serif;
}

.compact-ui-active {
  --message-gap: 2px;
  --bubble-padding: 4px 10px;
}


body, button, input, textarea, p, span {
  font-size: inherit; 
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
small { font-size: 0.8em; }

/* Custom scrollbar styles */
/* Horizontal scrollbar */
::-webkit-scrollbar {
  height: 5px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Vertical scrollbar */
::-webkit-scrollbar-vertical {
  width: 2px;
}
